/* @import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

a.active {
  color: rgb(62, 161, 241);
}

@plugin "daisyui";

.color-primary {
  color: #11c3c0;
}

* {
    font-family: "Work Sans", sans-serif;
}
/* 
* {
    font-family: "Playfair", serif;
} */